@font-face {
    font-family: "Boots And Spurs";
    src: url("fonts/BootsAndSpurs.ttf") format("truetype");
  }

body, h2, h3 {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.product-list {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

.logo, h1, h2 {
    font-family: "Boots And Spurs", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

header, footer {
    background-color: rgb(31, 31, 31);
    color: white;
    min-height: 100px;
    width: 100%;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}


header li {
    list-style: none;
    display: inline-block;
}

header {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

.current {
    font-weight: bolder;
    text-decoration: underline;
}


  
  

.reviews {
    background-color: rgb(223, 223, 223);
}

.featured-products {
    background-color: rgb(235, 235, 235);
}

.CTA {
background-color: rgb(194, 0, 0);
border-radius: 3px;
color: white;
font-size: 1.5rem;
text-decoration: none;
}

.cta-sale {
    background-color: rgb(175, 0, 0);
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.cta-view {
    background-color: seagreen;
    border-radius: 3px;
    color: white;
    text-decoration: none;
}

.CTA, .cta-sale, .cta-view {
    padding: 10px 100px;
    display: inline-block;
}

.review-img {
    width: 100px;
    border-radius: 50%;
    float: right;
}

.selling-point {
    max-width: 1000px;
    display: flex;
    margin: 50px auto;
}

.selling-point > * {
    flex: 1;
}

.sellingpoint-img {
    width: 100%;
}

.reviews-content {
    display: flex;
    width: 1000px;
    margin: auto;
    text-align: left;
}

.reviews-content > * {
    flex: 1;
}

.reviews-content div {
    margin: 50px;
}

.reviews {
    text-align: center;
    padding: 50px;
    margin: 50px 0;
}

.product-specific-details {
    padding: 0 30px;
}

.product-specific {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.product-specific > * {
    flex: 1;
}



.product-image-thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}

.product-image {
    width: 100%;
}

.welcome {
    background-image: url('images/home-header.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 90vh;
    position: relative;
}

.welcome-content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}

.sellingpoint-img {
    border-radius: 50px;
}


.contact {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;

}

input,
select,
textarea {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px 20px 10px 0;
    padding: 10px;
    height: 66%;
}


.form-wrapper {
    display: flex;
    text-align: left;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

